<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :quiz,label:"測驗名稱"  %>
    <%= f.input :number ,label:"題目編號" %>
    <%= f.input :content ,label:"題目內容" %>
    <%= f.input :introduction ,label:"題目說明" %>
    <%= f.input :category,label:"題目種類"  %>
    
    <%= f.simple_fields_for :options do |options_form| %>
    	<h2 style="color:#C6DABF;">
    		----------------------------------------
    	</h2>
        <%= options_form.input :content,label:"選項" %>
        <%= options_form.input :score,label:"給分" %>
        <%= options_form.input :explanation,label:"評語" %>

    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
