<%= simple_form_for(@answer) do |f| %>
	<%= f.hidden_field :question_id, value:@question.id  %>
	<%= f.hidden_field :quiz_result_id, value:@quiz_result.id  %>
	<%= f.hidden_field :content %>

<!-- 選項 -->
	<%= render 'questions/quiz_page_options' %>

<!-- 進度條 -->
	<%= render 'questions/quiz_page_progress' %>

<!-- 左右按鈕 -->
	<div class="btn-section col-md-6 text-right">
		<% unless @prev_question %>
			<div class="btn btn-switch" disabled="disabled"><</div>
		<% else %>
			<%= link_to "<",quiz_page_question_path(@prev_question.id,quiz_result_id:@quiz_result.id ), class:"btn btn-switch" %>
		<% end %>

		<% @next_question ? submit_btn_content = ">" : submit_btn_content = "確認送出" %>

		<% if @answer.content.present? %>
			<%= f.button :submit , submit_btn_content,class:"btn-switch btn-submit" %>
		<% else %>
			<%= f.button :submit , submit_btn_content,class:"btn-switch btn-submit",disabled: true %>
		<% end %>
	</div>

<% end %>