<div class="col-md-12 options ">
	
	<% @options.shuffle.each_with_index do |option,index| %>
		<div class="col-md-12">
<!-- 外筐：如果已經選過了 選項變不透明 -->
			<div class="bd <%= @answer.content.present?&&(@answer.content == option[1]) ? 
							"bd-active" : "bd-not-active" %>">
	
	<!-- 選項本人 -->
				<div class="btn btn-default option " data-answer="<%= option[1] %>">
		<!-- 選項內容 -->
					<div class="option-content">
						<%= index+1 %>. <%= option[0] %>
					</div>
		<!-- 選項內容結束 -->
		
		<!-- 勾勾：如果已經有填過答了 勾勾就show -->
					<div class="option-checked 
						<%= @answer.content.present?&&(@answer.content== option[1] ) ? 
							"option-show" : "option-hide" %>">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</div>
		<!-- 勾勾結束 -->
				</div>
	<!-- 選項本人結束 -->
			</div>
<!-- 外筐結束 -->
		</div>
	<% end %>
</div>