
<table class="table " style="margin-top: 20vh;">
  <thead>
    <tr>
      <th>Quiz</th>
      <th>Number</th>
      <th>content</th>
      <th>Introduction</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @question.quiz.title %></td>
        <td><%= @question.number %></td>
        <td><%= @question.content %></td>
        <td><%= @question.introduction %></td>
        <td><%= @question.category %></td>
      </tr>
  </tbody>
</table>

