<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @quiz_result.quiz %>
</p>

<p>
  <strong>Scores:</strong>
  <%= @quiz_result.scores %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @quiz_result.answers %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quiz_result.email %>
</p>

<%= link_to 'Edit', edit_quiz_result_path(@quiz_result) %> |
<%= link_to 'Back', quiz_results_path %>
