<!DOCTYPE html>
<html>
<head>
  <title>
  	<%  @head_title ||= ""%>
  	<%= @head_title+"小測驗-Peer輔導資訊" %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0 ">
  <meta http-equiv="Content-Type" content="text/html; charset=big5">
</head>
<body>

<div class="container" id="<%= "#{params[:action]}"+"-"+"#{params[:controller]}" %>">
  <%= render 'flash_message' %>
  <%= yield %>
</div>

</body>
</html>
